.intro-2 {
    background: url("danist-dqXiw7nCb9Q-unsplash.jpg")no-repeat center center;
    background-size: cover;
}


.navbar {
    background-color: #039be5;
}

.top-nav-collapse {
    background-color: #039be5;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #039be5;
    }
}
html,
body,
header,
.view {
    height: 100%;
}