table {
}

tr {
    padding-right: 50px;
    padding-left: 50px;
}

div {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    text-align: right;
    height: 10px;
    width: 90%;
}

.outertable {
    border: 1px solid black;
    margin: auto;
    padding: 10px
}

.tabledata {
    vertical-align: top;
    border: no-border;
}

.datarow {
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

.button {
    width: auto;
    text-align: center;
}