table {
    border: 1px solid blue;
    margin: auto;
}

div {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    text-align: right;
    height: 10px;
    width: 40px;
}

.metatable {
    text-align: top;
    border: no-border;
}