{% extends "happonomysim.html" %}

{% block content %}
<div class="row d-flex justify-content-center">
    <h2>Euro Supply Simulation</h2>
</div>
{% if not render_graphs %}
<form action="" method="post">
    {{ parameter_form.csrf_token }}
    <div class="card  d-inline-flex mb-2">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Simulation parameters</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">

            <table class="outertable">
                <tr>
                    <td class="tabledata">
                        <table>

                            <tr>
                                <td>{{ parameter_form.num_iterations.label }}</td>
                                <td>{{ parameter_form.num_iterations }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.desired_initial_im.label }}</td>
                                <td>{{ parameter_form.desired_initial_im }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.lending_satisfaction_rate.label }}</td>
                                <td>{{ parameter_form.lending_satisfaction_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.auto_calculate.label }}</td>
                                <td>{{ parameter_form.auto_calculate }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_created_im.label }}</td>
                                <td>{{ parameter_form.initial_created_im }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_debt.label }}</td>
                                <td>{{ parameter_form.initial_debt }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_bank_reserve.label }}</td>
                                <td>{{ parameter_form.initial_bank_reserve }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_bank_debt.label }}</td>
                                <td>{{ parameter_form.initial_bank_debt }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_created_reserves.label }}</td>
                                <td>{{ parameter_form.initial_created_reserves }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_private_assets.label }}</td>
                                <td>{{ parameter_form.initial_private_assets }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.initial_bank_assets.label }}</td>
                                <td>{{ parameter_form.initial_bank_assets }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.desired_growth_rate.label }}</td>
                                <td>{{ parameter_form.desired_growth_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.growth_target.label }}</td>
                                <td>{{ parameter_form.growth_target }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.inflation_rate.label }}</td>
                                <td>{{ parameter_form.inflation_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.link_growth_inflation.label }}</td>
                                <td>{{ parameter_form.link_growth_inflation }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.growth_inflation_influence.label }}</td>
                                <td>{{ parameter_form.growth_inflation_influence }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.ecb_interest_rate.label }}</td>
                                <td>{{ parameter_form.ecb_interest_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.bank_payback_cycles.label }}</td>
                                <td>{{ parameter_form.bank_payback_cycles }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.ecb_savings_rate_mr.label }}</td>
                                <td>{{ parameter_form.ecb_savings_rate_mr }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.ecb_savings_rate_excess.label }}</td>
                                <td>{{ parameter_form.ecb_savings_rate_excess }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.minimum_reserve.label }}</td>
                                <td>{{ parameter_form.minimum_reserve }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.maximum_reserve.label }}</td>
                                <td>{{ parameter_form.maximum_reserve }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.min_new_money.label }}</td>
                                <td>{{ parameter_form.min_new_money }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.max_new_money.label }}</td>
                                <td>{{ parameter_form.max_new_money }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.interest_percentage_bank_income.label }}</td>
                                <td>{{ parameter_form.interest_percentage_bank_income }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.bank_interest_rate.label }}</td>
                                <td>{{ parameter_form.bank_interest_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.private_payback_cycles.label }}</td>
                                <td>{{ parameter_form.private_payback_cycles }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.no_loss.label }}</td>
                                <td>{{ parameter_form.no_loss }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.min_profit.label }}</td>
                                <td>{{ parameter_form.min_profit }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.spending_mode.label }}</td>
                                <td>{{ parameter_form.spending_mode }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.profit_spending.label }}</td>
                                <td>{{ parameter_form.profit_spending }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.capital_spending.label }}</td>
                                <td>{{ parameter_form.capital_spending }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.fixed_spending.label }}</td>
                                <td>{{ parameter_form.fixed_spending }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.max_spending.label }}</td>
                                <td>{{ parameter_form.max_spending }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.asset_trickle_mode.label }}</td>
                                <td>{{ parameter_form.asset_trickle_mode }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.asset_trickle.label }}</td>
                                <td>{{ parameter_form.asset_trickle }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.qe_mode.label }}</td>
                                <td>{{ parameter_form.qe_mode }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.qe_fixed.label }}</td>
                                <td>{{ parameter_form.qe_fixed }}</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.qe_relative.label }}</td>
                                <td>{{ parameter_form.qe_relative }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.qe_trickle_rate.label }}</td>
                                <td>{{ parameter_form.qe_trickle_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.qe_profit.label }}</td>
                                <td>{{ parameter_form.qe_profit }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.savings_rate.label }}</td>
                                <td>{{ parameter_form.savings_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.savings_interest_rate.label }}</td>
                                <td>{{ parameter_form.savings_interest_rate }}</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>{{ parameter_form.saving_asset_percentage.label }}</td>
                                <td>{{ parameter_form.saving_asset_percentage }}</td>
                                <td>%</td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
            <hr>


        </div>
    </div>
    <div class="card  d-inline-flex mb-2">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Output specification</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">

            <table class="outertable">
                <tr>

                    <td class="tabledata">
                        <table>

                            <tr>
                                <td>{{ data_selection_form.deflate.label }}</td>
                                <td>{{ data_selection_form.deflate }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.om.label }}</td>
                                <td>{{ data_selection_form.om }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.im.label }}</td>
                                <td>{{ data_selection_form.im }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.bank.label }}</td>
                                <td>{{ data_selection_form.bank }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.private.label }}</td>
                                <td>{{ data_selection_form.private }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.assets.label }}</td>
                                <td>{{ data_selection_form.assets }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.qe.label }}</td>
                                <td>{{ data_selection_form.qe }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="divider">
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.income_expenses_percentage.label }}</td>
                                <td>{{ data_selection_form.income_expenses_percentage }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.im_distribution.label }}</td>
                                <td>{{ data_selection_form.im_distribution }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.debt_percentage.label }}</td>
                                <td>{{ data_selection_form.debt_percentage }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.lending_percentage.label }}</td>
                                <td>{{ data_selection_form.lending_percentage }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.created_percentage.label }}</td>
                                <td>{{ data_selection_form.created_percentage }}</td>
                            </tr>
                            <tr>
                                <td>{{ data_selection_form.bank_profit_spending_percentage.label }}</td>
                                <td>{{ data_selection_form.bank_profit_spending_percentage }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr>
            <div class="input submit">
                <input class=" btn btn-primary btn-sm button" type="submit" value="Run">
            </div>

        </div>
    </div>


</form>
{% endif %}
{% if render_graphs %}
<div class="row">

    <div class="col ">
        <a class="btn btn-primary btn-sm float-right" type="button"
           href="{{ url_for('euro_supply_d.euro_supply_simulation_d') }}">New simulation</a></div>
</div>
{% if crashed %}
<div class="row">
    <div class="col">Crashed: ran for {{ cycles_executed }} cycles</div>
</div>
{% endif %}
<div class="container">
    <div class="row">


        {% for graphs in graph_data %}
        {% for graph in graphs %}
        <div class="col-md-6">
            <img src={{graph|safe}} class="img-fluid p-2" style="width:100%">
        </div>

        {% endfor %}
        {% endfor %}


    </div>

</div>
{% endif %}

{% endblock %}