{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {{ parameter_form.csrf_token }}
        <table class="outertable"><tr>
            <td class="tabledata">
            <table>
                <caption>Simulation parameters</caption>
                <tr>
                    <td>{{ parameter_form.num_iterations.label }}</td>
                    <td>{{ parameter_form.num_iterations }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.desired_initial_im.label }}</td>
                    <td>{{ parameter_form.desired_initial_im }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.lending_satisfaction_rate.label }}</td>
                    <td>{{ parameter_form.lending_satisfaction_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.auto_calculate.label }}</td>
                    <td>{{ parameter_form.auto_calculate }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_created_im.label }}</td>
                    <td>{{ parameter_form.initial_created_im }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_debt.label }}</td>
                    <td>{{ parameter_form.initial_debt }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_bank_reserve.label }}</td>
                    <td>{{ parameter_form.initial_bank_reserve }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_bank_debt.label }}</td>
                    <td>{{ parameter_form.initial_bank_debt }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_created_reserves.label }}</td>
                    <td>{{ parameter_form.initial_created_reserves }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_private_assets.label }}</td>
                    <td>{{ parameter_form.initial_private_assets }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.initial_bank_assets.label }}</td>
                    <td>{{ parameter_form.initial_bank_assets }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.desired_growth_rate.label }}</td>
                    <td>{{ parameter_form.desired_growth_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.growth_target.label }}</td>
                    <td>{{ parameter_form.growth_target }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.inflation_rate.label }}</td>
                    <td>{{ parameter_form.inflation_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.link_growth_inflation.label }}</td>
                    <td>{{ parameter_form.link_growth_inflation }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.growth_inflation_influence.label }}</td>
                    <td>{{ parameter_form.growth_inflation_influence }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.ecb_interest_rate.label }}</td>
                    <td>{{ parameter_form.ecb_interest_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.bank_payback_cycles.label }}</td>
                    <td>{{ parameter_form.bank_payback_cycles }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.ecb_savings_rate_mr.label }}</td>
                    <td>{{ parameter_form.ecb_savings_rate_mr }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.ecb_savings_rate_excess.label }}</td>
                    <td>{{ parameter_form.ecb_savings_rate_excess }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.minimum_reserve.label }}</td>
                    <td>{{ parameter_form.minimum_reserve }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.maximum_reserve.label }}</td>
                    <td>{{ parameter_form.maximum_reserve }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.min_new_money.label }}</td>
                    <td>{{ parameter_form.min_new_money }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.max_new_money.label }}</td>
                    <td>{{ parameter_form.max_new_money }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.interest_percentage_bank_income.label }}</td>
                    <td>{{ parameter_form.interest_percentage_bank_income }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.bank_interest_rate.label }}</td>
                    <td>{{ parameter_form.bank_interest_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.private_payback_cycles.label }}</td>
                    <td>{{ parameter_form.private_payback_cycles }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.no_loss.label }}</td>
                    <td>{{ parameter_form.no_loss }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.min_profit.label }}</td>
                    <td>{{ parameter_form.min_profit }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.spending_mode.label }}</td>
                    <td>{{ parameter_form.spending_mode }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.profit_spending.label }}</td>
                    <td>{{ parameter_form.profit_spending }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.capital_spending.label }}</td>
                    <td>{{ parameter_form.capital_spending }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.fixed_spending.label }}</td>
                    <td>{{ parameter_form.fixed_spending }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.max_spending.label }}</td>
                    <td>{{ parameter_form.max_spending }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.asset_trickle_mode.label }}</td>
                    <td>{{ parameter_form.asset_trickle_mode }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.asset_trickle.label }}</td>
                    <td>{{ parameter_form.asset_trickle }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.qe_mode.label }}</td>
                    <td>{{ parameter_form.qe_mode }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.qe_fixed.label }}</td>
                    <td>{{ parameter_form.qe_fixed }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.qe_relative.label }}</td>
                    <td>{{ parameter_form.qe_relative }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.qe_trickle_rate.label }}</td>
                    <td>{{ parameter_form.qe_trickle_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.qe_profit.label }}</td>
                    <td>{{ parameter_form.qe_profit }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ parameter_form.savings_rate.label }}</td>
                    <td>{{ parameter_form.savings_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.savings_interest_rate.label }}</td>
                    <td>{{ parameter_form.savings_interest_rate }}</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>{{ parameter_form.saving_asset_percentage.label }}</td>
                    <td>{{ parameter_form.saving_asset_percentage }}</td>
                    <td>%</td>
                </tr>
            </table>
            </td>
            <td class="tabledata">
            <table>
                <caption>Output</caption>
                <tr>
                    <td>{{ data_selection_form.deflate.label }}</td>
                    <td>{{ data_selection_form.deflate }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.om.label }}</td>
                    <td>{{ data_selection_form.om }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.im.label }}</td>
                    <td>{{ data_selection_form.im }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.bank.label }}</td>
                    <td>{{ data_selection_form.bank }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.private.label }}</td>
                    <td>{{ data_selection_form.private }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.assets.label }}</td>
                    <td>{{ data_selection_form.assets }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.qe.label }}</td>
                    <td>{{ data_selection_form.qe }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="divider"><hr /></td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.income_expenses_percentage.label }}</td>
                    <td>{{ data_selection_form.income_expenses_percentage }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.im_distribution.label }}</td>
                    <td>{{ data_selection_form.im_distribution }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.debt_percentage.label }}</td>
                    <td>{{ data_selection_form.debt_percentage }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.lending_percentage.label }}</td>
                    <td>{{ data_selection_form.lending_percentage }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.created_percentage.label }}</td>
                    <td>{{ data_selection_form.created_percentage }}</td>
                </tr>
                <tr>
                    <td>{{ data_selection_form.bank_profit_spending_percentage.label }}</td>
                    <td>{{ data_selection_form.bank_profit_spending_percentage }}</td>
                </tr>
            </table>
            </td>
        </tr></table>
        <hr>
        <div class="input submit">
            <input class="button" type="submit" value="Run">
        </div>
        {% if crashed %}
        <h2>Crashed after {{ crash_cycle }} cycles</h2>
        {% endif %}
        {% if render_graphs %}
            {% for graphs in graph_data %}
                {% for graph in graphs %}
                      <div class="container" align="left">
                            <embed type="image/svg+xml" src={{graph|safe}} style='max-width:600px'/>
                      </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </form>

{% endblock %}